<!--<h1>Customers#edit</h1>-->
<!--<p>Find me in app/views/customers/edit.html.erb</p>-->

<div class="row">
    <div class="col-lg-12">
        <h1>顧客情報の編集</h1>
        <%= render 'form' %>
            <button type="button" style="margin-top:5px;" class="btn btn-default" data-toggle="modal" data-target="#delete-customer">顧客情報を削除する</button>
            <%= link_to '戻る', customer_path(@customer),  style: "margin-top:5px;", class: "btn btn-default" %>
        
        
    </div>
</div>


<div class="modal fade" id="delete-customer">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">顧客情報の削除</h4>
      </div>
      <div class="modal-body">
        <p><%= @customer.family_name %>さんを削除しますか？</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
        <%= link_to '削除する', @customer, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>